.slide {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.4;
    color: #333333;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    line-height: 1.6;
    word-wrap: break-word;
}

.slide a {
    background: transparent;
}

.slide a:active,
.slide a:hover {
    outline: 0;
}

.slide strong {
    font-weight: bold;
}

.slide h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.slide img {
    border: 0;
}

.slide hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

.slide pre {
    overflow: auto;
}

.slide code,
.slide pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

.slide table {
    border-collapse: collapse;
    border-spacing: 0;
}

.slide td,
.slide th {
    padding: 0;
}

.slide * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slide a {
    color: #4183c4;
    text-decoration: none;
}

.slide a:hover,
.slide a:focus,
.slide a:active {
    text-decoration: underline;
}

.slide hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ddd;
}

.slide hr:before,
.slide hr:after {
    display: table;
    content: " ";
}

.slide hr:after {
    clear: both;
}

.slide h1,
.slide h2,
.slide h3,
.slide h4,
.slide h5,
.slide h6 {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.1;
}

.slide h1 {
    font-size: 30px;
}

.slide h2 {
    font-size: 21px;
}

.slide h3 {
    font-size: 16px;
}

.slide h4 {
    font-size: 14px;
}

.slide h5 {
    font-size: 12px;
}

.slide h6 {
    font-size: 11px;
}

.slide blockquote {
    margin: 0;
}

.slide ul,
.slide ol {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.slide ol ol {
    list-style-type: lower-roman;
}

.slide dd {
    margin-left: 0;
}

.slide code,
.slide pre {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
}

.slide pre {
    margin-top: 0;
    margin-bottom: 0;
}

.slide > *:first-child {
    margin-top: 0 !important;
}

.slide > *:last-child {
    margin-bottom: 0 !important;
}

.slide .anchor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    padding-right: 6px;
    padding-left: 30px;
    margin-left: -30px;
}

.slide .anchor:focus {
    outline: none;
}

.slide h1,
.slide h2,
.slide h3,
.slide h4,
.slide h5,
.slide h6 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.4;
}

.slide h1 {
    padding-bottom: 0.3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}

.slide h2 {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}

.slide h3 {
    font-size: 1.5em;
    line-height: 1.43;
}

.slide h4 {
    font-size: 1.25em;
}

.slide h5 {
    font-size: 1em;
}

.slide h6 {
    font-size: 1em;
    color: #777;
}

.slide p,
.slide blockquote,
.slide ul,
.slide ol,
.slide dl,
.slide table,
.slide pre {
    margin-top: 0;
    margin-bottom: 16px;
}

.slide hr {
    height: 4px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
}

.slide ul,
.slide ol {
    padding-left: 2em;
}

.slide ol ol,
.slide ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

.slide li > p {
    margin-top: 16px;
}

.slide dl {
    padding: 0;
}

.slide dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}

.slide dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

.slide blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd;
}

.slide blockquote > :first-child {
    margin-top: 0;
}

.slide blockquote > :last-child {
    margin-bottom: 0;
}

.slide table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
}

.slide table th {
    font-weight: bold;
}

.slide table th,
.slide table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

.slide table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

.slide table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.slide img {
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slide code {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
}

.slide code:before,
.slide code:after {
    letter-spacing: -0.2em;
    content: "\00a0";
}

.slide pre > code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.slide .highlight {
    margin-bottom: 16px;
}

.slide .highlight pre,
.slide pre {
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
    padding: 16px;
}

.slide .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.slide pre {
    word-wrap: normal;
}

.slide pre code {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

.slide pre code:before,
.slide pre code:after {
    content: normal;
}

.slide .highlight {
    background: #ffffff;
}

.slide .highlight .c {
    color: #999988;
    font-style: italic;
}

.slide .highlight .err {
    color: #a61717;
    background-color: #e3d2d2;
}

.slide .highlight .k {
    font-weight: bold;
}

.slide .highlight .o {
    font-weight: bold;
}

.slide .highlight .cm {
    color: #999988;
    font-style: italic;
}

.slide .highlight .cp {
    color: #999999;
    font-weight: bold;
}

.slide .highlight .c1 {
    color: #999988;
    font-style: italic;
}

.slide .highlight .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic;
}

.slide .highlight .gd {
    color: #000000;
    background-color: #ffdddd;
}

.slide .highlight .gd .x {
    color: #000000;
    background-color: #ffaaaa;
}

.slide .highlight .ge {
    font-style: italic;
}

.slide .highlight .gr {
    color: #aa0000;
}

.slide .highlight .gh {
    color: #999999;
}

.slide .highlight .gi {
    color: #000000;
    background-color: #ddffdd;
}

.slide .highlight .gi .x {
    color: #000000;
    background-color: #aaffaa;
}

.slide .highlight .go {
    color: #888888;
}

.slide .highlight .gp {
    color: #555555;
}

.slide .highlight .gs {
    font-weight: bold;
}

.slide .highlight .gu {
    color: #800080;
    font-weight: bold;
}

.slide .highlight .gt {
    color: #aa0000;
}

.slide .highlight .kc {
    font-weight: bold;
}

.slide .highlight .kd {
    font-weight: bold;
}

.slide .highlight .kn {
    font-weight: bold;
}

.slide .highlight .kp {
    font-weight: bold;
}

.slide .highlight .kr {
    font-weight: bold;
}

.slide .highlight .kt {
    color: #445588;
    font-weight: bold;
}

.slide .highlight .m {
    color: #009999;
}

.slide .highlight .s {
    color: #dd1144;
}

.slide .highlight .n {
    color: #333333;
}

.slide .highlight .na {
    color: teal;
}

.slide .highlight .nb {
    color: #0086b3;
}

.slide .highlight .nc {
    color: #445588;
    font-weight: bold;
}

.slide .highlight .no {
    color: teal;
}

.slide .highlight .ni {
    color: purple;
}

.slide .highlight .ne {
    color: #990000;
    font-weight: bold;
}

.slide .highlight .nf {
    color: #990000;
    font-weight: bold;
}

.slide .highlight .nn {
    color: #555555;
}

.slide .highlight .nt {
    color: navy;
}

.slide .highlight .nv {
    color: teal;
}

.slide .highlight .ow {
    font-weight: bold;
}

.slide .highlight .w {
    color: #bbbbbb;
}

.slide .highlight .mf {
    color: #009999;
}

.slide .highlight .mh {
    color: #009999;
}

.slide .highlight .mi {
    color: #009999;
}

.slide .highlight .mo {
    color: #009999;
}

.slide .highlight .sb {
    color: #dd1144;
}

.slide .highlight .sc {
    color: #dd1144;
}

.slide .highlight .sd {
    color: #dd1144;
}

.slide .highlight .s2 {
    color: #dd1144;
}

.slide .highlight .se {
    color: #dd1144;
}

.slide .highlight .sh {
    color: #dd1144;
}

.slide .highlight .si {
    color: #dd1144;
}

.slide .highlight .sx {
    color: #dd1144;
}

.slide .highlight .sr {
    color: #009926;
}

.slide .highlight .s1 {
    color: #dd1144;
}

.slide .highlight .ss {
    color: #990073;
}

.slide .highlight .bp {
    color: #999999;
}

.slide .highlight .vc {
    color: teal;
}

.slide .highlight .vg {
    color: teal;
}

.slide .highlight .vi {
    color: teal;
}

.slide .highlight .il {
    color: #009999;
}

.slide .highlight .gc {
    color: #999;
    background-color: #EAF2F5;
}

/*! normalize.css 2011-08-31T22:02 UTC · http://github.com/necolas/normalize.css */

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */

audio:not([controls]) {
    display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */

[hidden] {
    display: none;
}


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html {
    font-size: 100%; /* 1 */
    overflow-y: scroll; /* 2 */
    -webkit-text-size-adjust: 100%; /* 3 */
    -ms-text-size-adjust: 100%; /* 3 */
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */

body {
    margin: 0;
}

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */

body,
button,
input,
select,
textarea {
    font-family: sans-serif;
}


/* =============================================================================
   Links
   ========================================================================== */

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

/*
 * Addresses outline displayed oddly in Chrome
 */

a:focus {
    outline: 0;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a:hover,
a:active {
    outline: 0;
}


/* =============================================================================
   Typography
   ========================================================================== */

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3/4, S4/5, Chrome
*/

b, 
strong { 
    font-weight: bold; 
}

blockquote {
    margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */

dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */

mark {
    background: #ff0;
    color: #000;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */

/* 1 */

q {
    quotes: none;
}

/* 2 */

q:before,
q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/* =============================================================================
   Lists
   ========================================================================== */

ul,
ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

dd {
    margin: 0 0 0 40px;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, F3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */

figure {
    margin: 0;
}


/* =============================================================================
   Forms
   ========================================================================== */

/*
 * Corrects margin displayed oddly in IE6/7
 */

form {
    margin: 0;
}

/*
 * Define consistent margin and padding
 */

fieldset {
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7
 */

legend {
    border: 0; /* 1 */
    *margin-left: -7px; /* 2 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, F3/4, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * 1. Addresses FF3/4 setting line-height using !important in the UA stylesheet
 * 2. Corrects inner spacing displayed oddly in IE6/7
 */

button,
input {
    line-height: normal; /* 1 */
    *overflow: visible;  /* 2 */
}

/*
 * Corrects overlap and whitespace issue for buttons and inputs in IE6/7
 * Known issue: reintroduces inner spacing
 */

table button,
table input {
    *overflow: auto;
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 */

button,
html input[type="button"], 
input[type="reset"], 
input[type="submit"] {
    cursor: pointer; /* 1 */
    -webkit-appearance: button; /* 2 */
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Addresses excess padding in IE8/9
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Corrects inner padding displayed oddly in S5, Chrome on OSX
 */

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
 * Corrects inner padding and border displayed oddly in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}


/* =============================================================================
   Tables
   ========================================================================== */

/* 
 * Remove most spacing between table cells
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
	COLORS
 
	Dark Blue 			#222438
	Medium Blue			#959db5
	Light Blue	 		#c9d5e1
	Dark Blue Links		#1a4a6a
	
*/

body {
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-size: 30px;
    font-size: 3rem;
    background-color: #c9d5e1;
}

.slide h1, .slide h2 {
    text-align: center;
}

.slide > * {
    margin: 0 2em;
}

.slide > h1 {
    text-align: center;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    margin-bottom: 1rem;
}

h1 {
    font-size: 150px;
    font-size: 15rem;
    text-shadow: 0 2px 1px #fff;
}

p {
    width: 80%;
    margin: 20px auto;
    margin: 2rem auto;
    text-shadow: 0 1px 1px #fff;
    line-height: 1.2;
}

a, a:visited {
    color: #1a4a6a;
    font-weight: bold;
    font-style: italic;
    text-shadow: none;
}

small {
    line-height: 1;
    font-style: italic;
    font-size: 20px;
    font-size: 2rem;
    text-shadow: 0 1px 0 #fff;
}

.download {
    padding-left: 15px;
    padding-left: 1.5rem;
}

.pro-tip {
    display: block;
    padding: 20px;
    padding: 2rem;
    text-shadow: 0 1px 0 #fff;
}

pre {
    font-size: 18px;
    font-size: 1.8rem;
}

blockquote {
    text-align: left;
    width: 70%;
    margin: 10px auto;
    margin: 1rem auto;
    background: #fff;
    border: solid 3px #959db5;
    padding: 0 40px;
    padding: 0 4rem;
    border-radius: 6px;
    border-radius: .6rem;
}

code {
    font-style: normal;
    padding-left: 5px;
    padding-left: .5rem;
}

/*----------------------------------------  HEADER  */

#header {
    width: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 10;
    background: #222438;
    border-bottom: solid 3px #959db5;
    padding: 5px;
    padding: .5rem;
    opacity: .9;
}

#instructions {
    position: fixed;
    top: 25px;
    left: 40px;
    background: #fff;
    border: solid 3px #959db5;
    padding: 5px 10px;
    text-transform: uppercase;
    width: 180px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    z-index: 99;
    color: #222438
}

#powered {
    font-weight: bold;
    padding-bottom: 20px;
}

.nav-button {
    padding: 10px;
    padding: 1rem;
    text-decoration: none;
    color: #959db5;
    font-size: 20px;
    font-size: 2rem;
    text-shadow: 0 -1px 1px #000;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
}

.current, a.nav-button:hover {
    color: #fff;
}

#resize-graphic {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: .6;
}

/*----------------------------------------  SLIDES  */
.slide-content {
    width: 100%;
}

.slide {
    margin: 0 auto;
    width: 99%;
    padding: 120px 0;
    padding: 12rem 0;
    height: 40rem;
}

#title {
    line-height: .8;
}

#landing {
    padding: 90px 0;
    padding: 9rem 0;
}

.twitter-follow-button {
    position: relative;
    top: 8px;
    left: 4px;
}

#animations {
    padding-top: 70px;
    padding-top: 7rem;
    height: 480px;
    height: 48rem;
}

#examples h1 {
    padding-bottom: 20px;
    padding-bottom: 2rem;
}

#examples, #examples p, #credits {
    line-height: .8;
}

#examples p {
    padding-top: 20px;
}

#credits a {
    padding-right: 3px;
}

/*------------------------  BASE-REM SIZING  */

@media (min-width: 1401px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 1400px) {
    html {
        font-size: 11px;
    }
}

/* target screen width  */
@media (max-width: 1280px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 1160px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 1040px) {
    html {
        font-size: 8px;
    }
}

@media (max-width: 920px) {
    html {
        font-size: 7px;
    }
}

@media (max-width: 800px) {
    html {
        font-size: 6px;
    }
}

@media (max-width: 680px) {
    html {
        font-size: 5px;
    }
}

@media (max-width: 560px) {
    html {
        font-size: 4px;
    }
}

@media (max-width: 440px) {
    html {
        font-size: 3px;
    }
}

@media (max-width: 320px) {
    html {
        font-size: 3px;
    }
}

/*
github.com style (c) Vasily Polovnyov <vast@whiteants.net>
*/

code, pre {
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow: auto;
    padding: 6px 10px;
}

code {
    padding: 0 5px;
}

pre > code {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
}

pre .comment,
pre .template_comment,
pre .diff .header,
pre .javadoc {
    color: #998;
    font-style: italic
}

pre .keyword,
pre .css .rule .keyword,
pre .winutils,
pre .javascript .title,
pre .nginx .title,
pre .subst,
pre .request,
pre .status {
    color: #333;
    font-weight: bold
}

pre .number,
pre .hexcolor,
pre .ruby .constant {
    color: #099;
}

pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula {
    color: #d14
}

pre .title,
pre .id {
    color: #900;
    font-weight: bold
}

pre .javascript .title,
pre .lisp .title,
pre .clojure .title,
pre .subst {
    font-weight: normal
}

pre .class .title,
pre .haskell .type,
pre .vhdl .literal,
pre .tex .command {
    color: #458;
    font-weight: bold
}

pre .tag,
pre .tag .title,
pre .rules .property,
pre .django .tag .keyword {
    color: #000080;
    font-weight: normal
}

pre .attribute,
pre .variable,
pre .lisp .body {
    color: #008080
}

pre .regexp {
    color: #009926
}

pre .class {
    color: #458;
    font-weight: bold
}

pre .symbol,
pre .ruby .symbol .string,
pre .lisp .keyword,
pre .tex .special,
pre .prompt {
    color: #990073
}

pre .built_in,
pre .lisp .title,
pre .clojure .built_in {
    color: #0086b3
}

pre .preprocessor,
pre .pi,
pre .doctype,
pre .shebang,
pre .cdata {
    color: #999;
    font-weight: bold
}

pre .deletion {
    background: #fdd
}

pre .addition {
    background: #dfd
}

pre .diff .change {
    background: #0086b3
}

pre .chunk {
    color: #aaa
}
