<div id="header">
    <a href="#howtouse" class="nav-button">How to Use</a>
    <a href="#examples" class="nav-button">Examples</a>
    <a href="#credits" class="nav-button">Credits</a>
</div>
<div id="instructions">
    Use left/right arrow to change slides
</div>
{{#slides}}
    <div class="slide{{#classList}} {{classList}}{{/classList}}" id="slide-{{id}}">
        {{{content}}}
    </div>
{{/slides}}